* {
    margin: 0;
    padding: 0;
}
.form-register {
    width: 400px;
    margin: 16px;
}
.element {
    width: 400px;
    height: 30px;
    margin-bottom: 16px;
}
.text {
    font-size: 18;
}
.gender-container {
    width: 400px;
}
.gender-container-choise {
    margin-left: 16px;
    padding: 4px;
}
#button-register {
    padding: 4px;
    margin-top: 16px;
    width: 200px;
    font-weight: bold;
    color: white;
    background-color: gray;
    border: 0;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}